<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <r:comment><!-- meta charset gets set automatically by CleanSlate --></r:comment>
    <title><r:page:first_non_blank_attr names="title, name" /> | <r:site_name /> | West Virginia University</title>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <r:include_stylesheet name="styles" />

    <% if (html5shiv) { %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <!-- HTML5 Shiv is *required* for IE to recognize HTML5 tags. -->
    <% } %>
    <% if (modernizr) { %>
      <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
      <script>window.jQuery || document.write('<script src="//static.wvu.edu/global/vendor/modernizr-2.8.3/modernizr.js"><\/script>')</script>
    <% } %>
  </head>
  <body class="template-<r:page:template:name /> page-<r:page:id />">

    <r:partial name="wvu-masthead" />

    <div class="container">

      <r:comment><!-- What are layouts and <r:yield />? http://goo.gl/DFAsPv --></r:comment>
      <r:yield />
    
    </div> <!-- /.container -->
    
    <r:partial name="wvu-footer" />
    
    <r:comment><!-- What is the <r:yield name="page_js" /> and <r:content /> block? http://goo.gl/03vEf7 --></r:comment>
    <r:yield name="page_js">
      <r:content />
    </r:yield>

    <r:partial name="layouts/browser-update-org--v1" theme="Code" />
    
    <% if (respondjs) { %>
    <!-- Fix IE 8 and below so that media queries get supported -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <% } %>
      
    <% if (jquery) { %>
      <!-- Include jQuery with CDN Fallback -->
      <% if (jqueryVersion == '1.11.1') { %>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="//static.wvu.edu/global/vendor/jquery-1.11.1/jquery.min.js"><\/script>')</script>
      <% } %>
      <% if (jqueryVersion == '2.1.1') { %>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="//static.wvu.edu/global/vendor/jquery-2.1.1/jquery.min.js"><\/script>')</script>
      <% } %>
    <% } %>

  </body>
</html>